<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header"><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          <li><a href="/meubel-transport.html">Meubel Transport</a></li>
          <li><a href="/verhuizing-klein-groot.html">Verhuizing klein en groot</a></li>
          <li><a href="/marktplaats-en-veiling-vervoer.html">Marktplaats en veiling vervoer</a></li>
          <li><a href="/senioren-verhuizing.html">Senioren Verhuizing</a></li>
          <li><a href="/woning-of-bedrijfsontruiming.html">Woning of Bedrijfsontruiming</a></li>
          <li><a href="/koerier-nodig?.html">Koeriersdienst</a></li>
          <li><a href="/prijzen.html">Prijzen</a></li>
          <li><a href="/zoek-uw-arie.nl-partner.html">Zoek uw ARIE.NL partner</a></li>
          <li><a href="/wie-zijn-wij.html">Wie zijn wij?</a></li>
        </ul>


      </header>

      <section>
        {{ content }}
      </section>

      <footer>
        <p><small>Copyright 2021 Arie.nl</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
